.section-buscador {
  height: 350px;
}

.container-buscador {
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  color: var(--color-primary-0);
  font-size: 1.8rem;
  font-weight: bold;
  text-shadow: 1px 1px 20px var(--color-primary-8);
}

#inputForm {
  width: 200px;
  padding: 5px;
  font-size: 13px;
}

.container-buscador form {
  display: flex;
  justify-content: center;
  width: 100vw;
  align-items: center;
}

div.react-datepicker {
  font-size: 0.65rem;
}

.react-datepicker__navigation--next--with-time:not(.react-datepicker__navigation--next--with-today-button) {
  scale: 0.7;
  padding-bottom: 12px;
}

.react-datepicker__navigation--previous {
  scale: 0.7;
  padding-bottom: 12px !important;
}

.react-datepicker__close-icon::after {
  background-color: var(--color-primary-9) !important;
  color: var(--color-primary-0) !important;
  font-size: 30px !important;
  margin-right: 10px;
}

.loopVideo {
  position: absolute !important;
  left: 0;
  width: 100%;
  height: 350px;
  object-fit: cover;
  opacity: 0.7;
  z-index: -10;
}

.container-buscador form .filtroFecha {
  background-color: var(--color-primary-9);
}

.filtroFecha {
  width: 160px;
  height: 2.58rem !important;
  display: flex;
  align-items: center;
  padding-left: 10px;
  border: 1px solid var(--color-primary-7);
  border-radius: 4px;
  text-overflow: clip;
  font-size: 1rem;
  color: var(--color-primary-10);
}

select {
  color: var(--color-primary-0);
  font-weight: bold;
}


.categoria-select,
.servicios-select,
.ciudad-select {
  min-width: 17vw;
  font-size: 1rem;
  min-height: 42px;
}

.css-13cymwt-control {
  height: 42px !important
}


.buttonSearch {
  height: 40px;
  width: 100px;
  background-color: var(--color-primary-4);
  cursor: pointer;
  border-radius: 8px;
  color: var(--color-primary-1);
  border: 1px solid transparent;

}

.buttonSearch:hover {
  border-color: var(--color-primary-1);
}

.mensajeSearch {
  text-align: center;
  margin: 0px;
}

.form-container div {
  margin-right: .3rem;
}


.picker {
  margin-top: -.6rem;
}



/* tablet */
@media (max-width: 820px) {
  .mensajeSearch {
    margin-left: 10px;
  }

  .form-container {
    height: 190px;
    display: flex;
  }

  .form-container form {
    display: flex;
    flex-direction: column;
  }

  .form-container form div {
    margin: .1rem;
  }

  .section-buscador {
    height: 400px;
  }

  .loopVideo {
    height: 390px;
  }

  .container-buscador {
    height: 370px;
  }

  .container-buscador form .filtroFecha {
    width: 300px !important;
    font-size: 1rem !important;
  }

  .buttonSearch {
    width: 300px;
  }

  .categoria-select,
  .servicios-select,
  .ciudad-select {
    width: 300px;
  }

  div.react-datepicker {
    scale: 0.85;
    width: 413px;
  }

  .container-buscador {
    font-size: 1.4rem;
  }

  .filtroFecha {
    padding-bottom: 0;
  }
  .react-datepicker__time-container {
    float: right;
    border-left: none;
    border-radius: 0.7vw;
    height: auto;
    width:78px;
  }

}

/* celular */
@media (max-width: 499px) {

  .container-buscador .titulo {
    position: relative;
    top: 1rem;
  }

  .mensajeSearch {
    font-size: 1rem;
    margin: 0px;
  }

  .react-datepicker-popper[data-placement^=bottom] {
    padding-top: 0px !important;
  }

}

.react-datepicker__header {
  text-align: center;
  background-color: var(--color-primary-4);
  border-radius: 0.7vw;
  padding: 0.5vw 0;
  position: relative;

}

div.react-datepicker {
  font-size: 0.7rem;
  background-color: transparent;
  border: none;
}

.react-datepicker__close-icon::after {
  background-color: transparent;
  color: var(--color-primary-2);
  font-size: 2vw;
  padding-right: 1.5vw;
}

.react-datepicker__month {
  background-color: var(--color-primary-9);
  border-radius: 0.7vw;
  border-color: var(--color-primary-2);

}

.react-datepicker__time {
  background-color: var(--color-primary-9);
  border-radius: 0.7vw;
  border-color: var(--color-primary-5);
}

.react-datepicker_time-container .react-datepicker_time {
  border-bottom-right-radius: 0.7vw;
}

.react-datepicker__header--time {
  border-radius: 1vw;
  height: 2.8vw;
  padding-top: 1vw;
}

.react-datepicker_header:not(.react-datepicker_header--has-time-select) {
  border-radius: 0.7vw;
}

.react-datepicker__time-container {
  float: right;
  border-left: none;
  border-radius: 0.7vw;
  height: auto;
  width:78px;
}

.picker ::-webkit-scrollbar {
  width: 0.6vw;
}

.picker ::-webkit-scrollbar-track {
  background-color: transparent;
}

.picker ::-webkit-scrollbar-thumb {
  background-color: var(--color-primary-4);
  border-radius: 5px;
}

.picker ::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-primary-6);
}

#react-select-3-placeholder {
  font-size: 1rem;
}