.iconDelete {
  position: absolute;
  top: 0;
  right: 0;
  margin: 8%;
  color: var(--color-primary-4);
  z-index: 1;
  height: 10%;
  text-shadow: 2px 2px 4px var(--color-primary-6);
  cursor: pointer;
}

.iconDelete:hover {
  color: var(--color-primary-0);
}

.servicesContainer {
  display: flex;
  flex-direction: row;
  align-items: last baseline;
  max-width: 94%;
  margin: .5rem;
}

.buttonsContainer {
  flex:auto;
  margin-right: 2%;
}

.buttonsContainer button {
  background-color: var(--color-primary-4);
  border: none;
  border-radius: 4px;
  padding: 8px;
  color: var(--color-primary-9);
  cursor: pointer;
}

.backButton:hover,
.addService:hover {
  background-color: var(--color-primary-0);
}

.carouselButtons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.carouselButtons button {
  border: none;
  color: var(--color-primary-0);
  margin: 5px;
  cursor: pointer;
}

.cardServiceList {
  display: flex;
  grid-gap: 20px;
  grid-column-gap: 1px;
  justify-content: space-evenly;
  margin: 40px;
}

.cardService {
  position: relative;
  width: 40rem;
  height: 20rem;
  margin: 1rem;
  overflow: hidden;
  font-size: 1.8vw;
  color: var(--color-primary-1);
  text-shadow: 2px 2px 4px var(--color-primary-6);
  box-shadow: 10px 4px 15px var(--color-primary-7);
  border-radius: 0.8rem;
}

.cardService:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

/* tablet */
@media screen and (min-width: 481px) and (max-width: 1024px) {
  .back {
    margin-right: 12%;
  }
}

/* telefono */
@media screen and (max-width: 480px) {
  .buttonsContainer {
    align-items: baseline;
  }

  .back {
    margin-right: 20%;
  }
}
