

.register-confirm-container {
    display: flex;
    background-color: #f8f8f8;
    border-radius: 8px;
    padding: 100px;
    margin-top:  10%;
    margin-left: 15%;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    width: 70%;
    box-shadow: 4px 4px 15px var(--color-primary-7);
  }
  
  .bienvenido {
    color: #333;
    font-size: 24px;
    margin: 10px;
    text-align: center;
    justify-content: center;
  }
  
  .texto {
    color: #666;
    font-size: 16px;
  }

  /* tablet */
@media (max-width: 768px) {

  .register-confirm-container {
    
    margin-top:  10%;
    margin-left: 15%;
  }
}

/* telefono */
@media (max-width: 499px) {
  .register-confirm-container {
    padding: 40px;
    height: 400px;
  }

  .texto {
    font-size: 13px;
  }
}