* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', serif;
}

body {
    position: relative;
    padding-bottom: 70px;
    min-height: 100vh;
    background-color: var(--color-primary-1);
    user-select: none;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    width: .3rem;
}

body::-webkit-scrollbar-track {
    background-color: var(--color-primary-8);
}

body::-webkit-scrollbar-thumb {
    background-color: var(--color-primary-4);
}

body::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-primary-0);
}

.leaflet-container {
    height: 300px;
    width: 100%;
    margin-top: 2%;
    margin-bottom: 2%;
    z-index: 1;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {

    --font-family-0: font-family: 'Montserrat', serif;

    --color-primary-0: #223843;
    --color-primary-1: #EFF1F3;
    --color-primary-2: #DBD3D8;
    --color-primary-3: #D8B4A0;
    --color-primary-4: #D77A61;
    --color-primary-5: #000000;
    --color-primary-6: #000000a9;
    --color-primary-7: #00000046;
    --color-primary-8: #ebe8e89c;
    --color-primary-9: #ffffff;
    --color-primary-10: #333333a8;
}

.modal-overlay {
    position: fixed;
    background-color: var(--color-primary-7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
